<ion-header>
  <ion-navbar>
    <ion-title>ISOPOLY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
     
    <ion-grid text-center id="board">
        <ion-row class="row-aside">
            <ion-col id="cell-1" class="cell-aside" >
                <img src="assets/imgs/court.png"> 
            </ion-col>
            <ion-col col-1 id="cell-2">
                <div ></div>
                <label class="title">True of False</label> 
            </ion-col>
            <ion-col col-1 id="cell-3">
                <div ></div>
                <label class="title">Acmee Templaces</label>
                <p class="price">1000$</p>
            </ion-col>
            <ion-col col-1 id="cell-4">
                <div ></div>
                <label class="title">Bad Luck</label> 
            </ion-col>
            <ion-col col-1 id="cell-5">
                <div ></div>
                <label class="title">Acmee People</label>
                <p class="price">2000$</p>
            </ion-col>
            <ion-col col-1 id="cell-6">
                <div ></div>
                <label class="title">Surprise</label>
            </ion-col>
            <ion-col col-1 id="cell-7">
                <div ></div>
                <label class="title">Chance</label>
            </ion-col>
            <ion-col col-1 id="cell-8">
                <div ></div>
                <label class="title">Acmee Training</label>
                <p class="price">1000 $</p>
            </ion-col>
            <ion-col col-1 id="cell-9">
                <div ></div>
                <label class="title">Risk</label>
            </ion-col>
            <ion-col col-1 id="cell-10">
                <div ></div>
                <label class="title">Quality</label>
            </ion-col>
            <ion-col id="cell-11" class="cell-aside" >
                <img src="assets/imgs/iso.png"> 
            </ion-col>
        </ion-row>
          
        <ion-row>
            <ion-col col-2>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-40" class="cell-aside">
                        <div ></div>
                        <label class="title">--</label>
                        <p class="price">1000 $</p>
                    </ion-col> 
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-39" class="cell-aside">
                        <div ></div>
                        <label class="title">Management</label>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-38" class="cell-aside">
                        <div ></div>
                        <label class="title">--</label>
                        
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-37" class="cell-aside">
                        <div ></div>
                        <label class="title">Acmee tools</label>
                        <p class="price"></p>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-36" class="cell-aside">
                        <div ></div>
                        <label class="title">Surprise</label>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-35" class="cell-aside">
                        <div ></div>
                        <label class="title">Acmee Corrections</label>
                        <p class="price">2000 $</p>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-34" class="cell-aside">
                        <div ></div>
                        <label class="title">Human Resource</label>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-33" class="cell-aside">
                        <div ></div>
                        <label class="title">Chance</label>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-32" class="cell-aside">
                        <div ></div>
                        <label class="title">True or False</label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-8>
                <br><br>
                <ion-row class="row-middle">        
                    <ion-col col-2>&nbsp;</ion-col> 
                    <ion-col col-3 id="bad-luck"><label class="title">Bad Luck</label></ion-col> 
                    <ion-col col-2>&nbsp;</ion-col> 
                    <ion-col col-3 id="true-false"><label class="title">True or False</label></ion-col> 
                    <ion-col col-2>&nbsp;</ion-col>                    
                </ion-row>
                <ion-row class="row-middle">                        
                    <ion-col col-2>&nbsp;</ion-col> 
                    <ion-col col-8 class="app-title"><label >ISOPOLY</label></ion-col>  
                    <ion-col col-2>&nbsp;</ion-col>                         
                </ion-row>
                <ion-row class="row-middle">                        
                    <ion-col col-2>&nbsp;</ion-col> 
                    <ion-col col-3 id="chance"><label class="title">Chance</label></ion-col> 
                    <ion-col col-2>&nbsp;</ion-col> 
                    <ion-col col-3 id="surprise"><label class="title">Surprise</label></ion-col>  
                    <ion-col col-2>&nbsp;</ion-col>                         
                </ion-row>
                <br><br>
                <ion-row>
                    <ion-col col-1>&nbsp;</ion-col>
                    <ion-col col-10 id="dashboard">
                        <ion-row>
                            <ion-col col-8>
                                <div id="noteContent" [innerHTML]="noteContent"></div>
                                <div id="relative-actions" >You landed on Connecticut Avenue. <ion-icon name="cash" style="zoom:1.5; color:brown"> </ion-icon></div> 
                                <div id="actions-area">
                                    <button ion-button [hidden]="!areDiceRolled">Buy</button>
                                    <button ion-button color="danger" (click)="endTurn($event)" [hidden]="!areDiceRolled">End turn</button>
                                </div>
                            </ion-col>
                            <ion-col col-4> 
                                <br>
                                <div id="dice-score" [hidden]="!areDiceRolled">
                                    <img src="assets/imgs/Die_{{die1}}.png"><img src="assets/imgs/Die_{{die2}}.png">
                                </div>
                                <div >
                                    <button ion-button color="dark" (click)="rollDice($event)" [disabled] = "areDiceRolled">Roll dice </button> 
                                </div>
                                <br>
                                <ion-row  *ngFor="let player of players; let i = index"> 
                                        <ion-col col-2 [style.background-color]="player.color"></ion-col>
                                        <ion-col col-5>{{player.name}}</ion-col>
                                        <ion-col col-5>{{player.account}}</ion-col> 
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-col> 
                    <ion-col col-1>&nbsp;</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-2 >
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-12" class="cell-aside">
                        <div ></div>
                        <label class="title">Acmee process</label>
                        <p class="price">2000 $</p>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-13" class="cell-aside">                
                        <label class="title">Bad Luck</label>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-14" class="cell-aside">
                        <div ></div>
                        <label class="title">--</label>
                        <p class="price">2000 $</p>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-15" class="cell-aside">
                        <div ></div>
                        <label class="title">Acmee Testing</label>
                        <p class="price">1000 $</p>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-16" class="cell-aside">
                        <div ></div>
                        <label class="title">Surprise</label>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-17" class="cell-aside">
                        <div ></div>
                        <label class="title">Acmee Auditors</label>
                        <p class="price">3000 $</p>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-18" class="cell-aside">
                        <div ></div>
                        <label class="title">Chance</label>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-19" class="cell-aside">
                        <div ></div>
                        <label class="title">--</label>
                        <p class="price">2000 $</p>
                    </ion-col>
                </ion-row>
                <ion-row class="row-middle">
                    <ion-col col-12 id="cell-20" class="cell-aside">
                        <div ></div>
                        <label class="title">--</label>
                        <p class="price">1000 $</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>  
        <ion-row class="row-aside">
            <ion-col id="cell-0" class="cell-aside">
                <span class="pion">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="pion">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="pion">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="pion">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <br>
                <label class="title-corner">Start</label>
            </ion-col>
            <ion-col col-1 id="cell-30">
                <div ></div>
                <label class="title">Acmee Checklist</label>
                <p class="price">1000 $</p>
            </ion-col>
            <ion-col col-1 id="cell-29">
                <div ></div>
                <label class="title">--</label>
                <p class="price">1500 $</p>
            </ion-col>
            <ion-col col-1 id="cell-28">
                <div ></div>
                <label class="title">Bad Luck</label>
            </ion-col>
            <ion-col col-1 id="cell-27">
                <div ></div>
                <label class="title">--</label>
                <p class="price">2000 $</p>
            </ion-col>
            <ion-col col-1 id="cell-26" >
                <div ></div>
                <label class="title">Surprise</label>
            </ion-col>
            <ion-col col-1 id="cell-25">
                <div ></div>
                <label class="title">Acmee Defects detections</label>
                <p class="price">1000 $</p>
            </ion-col>
            <ion-col col-1 id="cell-24" >
                <div ></div>
                <label class="title">Acmee Risk Evaluation</label>
                <p class="price">1500 $</p>
            </ion-col>
            <ion-col col-1 id="cell-23" >
                <div ></div>
                <label class="title">Communication</label> 
                 
            </ion-col>
            <ion-col col-1 id="cell-22" >
                <div ></div>
                <label class="title">--</label>
                <p class="price">2000 $</p>
            </ion-col>
            <ion-col id="cell-21" class="cell-aside">  
                <img src="assets/imgs/gotocourt.png"> 
            </ion-col>
        </ion-row>
     
    </ion-grid>

</ion-content>
