page-home {
    #board {
        border: 1px solid #ddd; 
        padding: 0px;
        margin: 0px;
        max-width: 850px;
    }

    #board ion-col{
        vertical-align: bottom;
        margin:0px;
        padding:0px;
    }

    .app-title{
        text-align: center;
        font-weight: bold;
        font-size: 40px; 
        background-color: #e42000;
        color:#fff;
        vertical-align: middle;
    }

    .title{
        text-align: center;
        font-weight: bold;
        font-size: 10px;
        margin-top: 5px;
    }

    .title-corner{
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        vertical-align: middle;
    }

    .price{
        text-align: center;
        font-weight: bold;
        font-size: 10px;
        position: absolute;
        bottom: 0;
        width : 100%;
    }
    .row-middle {
        height:70px; 
         
    }
    
    .row-aside {
        height:100px;
    }

    .cell-aside {
        width:102px; 
         
    }

    #cell-0{
        padding: 0px;
        border: 1px solid black; 
    }

    #cell-1 {
        position: relative;
        margin: 0px;
        top: 0px;
        left: 0px;
        padding: 0px;
        border: 1px solid black;
        border-right:0px; 
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-size: auto 40px;
    }

    #cell-2{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-2 div {
        height: 10px;
        background: green;
        margin: 0px;
        padding: 0px;
    }

    #cell-3{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-3 div {
        height: 10px;
        background: green;
        margin: 0px;
        padding: 0px;
    }

    #cell-4{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-4 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-5{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-5 div {
        height: 10px;
        background: green;
        margin: 0px;
        padding: 0px;
    }
    #cell-6{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-6 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-7{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-7 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-8{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-8 div {
        height: 10px;
        background: blue;
        margin: 0px;
        padding: 0px;
    }
    #cell-9{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-9 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-10{
        padding: 0px;
        border: 1px solid black;
        border-right:0px;
    }
    #cell-10 div {
        height: 10px;
        background: blue;
        margin: 0px;
        padding: 0px;
    }
    #cell-11{
        padding: 0px;
        border: 1px solid black;
    }
    #cell-11 div {
        height: 10px;
        background: green;
        margin: 0px;
        padding: 0px;
    }

    #cell-12{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-12 div {
        height: 10px;
        background: #a74a44;
        margin: 0px;
        padding: 0px;
    }

    #cell-13{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-13 div {
        height: 10px;
        background: green;
        margin: 0px;
        padding: 0px;
    }

    #cell-14{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-14 div {
        height: 10px;
        background: #a74a44;
        margin: 0px;
        padding: 0px;
    }
    #cell-15{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-15 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-16{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-16 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-17{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-17 div {
        height: 10px;
        background: #00fdff;
        margin: 0px;
        padding: 0px;
    }
    #cell-18{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-18 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-19{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-19 div {
        height: 10px;
        background: #00fdff;
        margin: 0px;
        padding: 0px;
    }
    #cell-20{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
        border-bottom:0px;
    }
    #cell-20 div {
        height: 10px;
        background: #00fdff;
        margin: 0px;
        padding: 0px;
    }
    #cell-21{
        padding: 0px;
        border: 1px solid black; 
        border-left:0px;
    }
    #cell-21 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-22{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-22 div {
        height: 10px;
        background: #ff2c79;
        margin: 0px;
        padding: 0px;
    }
    #cell-23{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-23 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-24{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-24 div {
        height: 10px;
        background: #ff2c79;
        margin: 0px;
        padding: 0px;
    }
    #cell-25{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-25 div {
        height: 10px;
        background: #ff2c79;
        margin: 0px;
        padding: 0px;
    }
    #cell-26{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-26 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-27{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-27 div {
        height: 10px;
        background: #ffa900;
        margin: 0px;
        padding: 0px;
    }
    #cell-28{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-28 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-29{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-29 div {
        height: 10px;
        background: #ffa900;
        margin: 0px;
        padding: 0px;
    }
    #cell-30{
        padding: 0px;
        border: 1px solid black;
        border-left:0px;
    }
    #cell-30 div {
        height: 10px;
        background: #ffa900;
        margin: 0px;
        padding: 0px;
    }
    #cell-31{
        padding: 0px;
        border: 1px solid black; 
    }
    #cell-31 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-32{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
        border-bottom:0px;
    }
    #cell-32 div {
        height: 10px;
        background: #ff2500;
        margin: 0px;
        padding: 0px;
    }
    #cell-33{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-33 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-34{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-34 div {
        height: 10px;
        background: #ff2500;
        margin: 0px;
        padding: 0px;
    }
    #cell-35{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-35 div {
        height: 10px;
        background: #ff2500;
        margin: 0px;
        padding: 0px;
    }
    #cell-36{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-36 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-37{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-37 div {
        height: 10px;
        background: #fffc00;
        margin: 0px;
        padding: 0px;
    }
    #cell-38{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-38 div {
        height: 10px;
        background: #fffc00;
        margin: 0px;
        padding: 0px;
    }
    #cell-39{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-39 div {
        height: 10px;
        background: #fff;
        margin: 0px;
        padding: 0px;
    }
    #cell-40{
        padding: 0px;
        border: 1px solid black;
        border-top:0px;
    }
    #cell-40 div {
        height: 10px;
        background: #fffc00;
        margin: 0px;
        padding: 0px;
    }
    
    .board-center {
        width: 675px;
        border: none;
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-size: auto 40px;
    }
    
    .board-corner {
        width: 102px;
        height: 102px;
    }
    
    .board-top {
        width: 72px;
        height: 102px;
    }
    
    .board-bottom {
        width: 72px;
        height: 102px;
    }
    
    .board-left {
        width: 102px;
        height: 72px;
    }
    
    .board-right {
        width: 102px;
        height: 72px;
    }

    #bad-luck {
        border: 1px solid #000; 
    }
    #true-false {
        border: 1px solid #000; 
    }
    #chance {
        border: 1px solid #000; 
    }
    #surprise {
        border: 1px solid #000; 
    }
    #dashboard {
        border: 1px solid #ccc; 
        height: 300px;
    }

    #noteContent{
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        height: 150px;
        overflow: auto;
        background-color: #ddd;
        text-align: left;
    }

    #relative-actions{
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    #actions-area{
        align-content: right;
    }

    #current-player{ 
        border-bottom: 1px solid #ccc; 
    }
    #dice-score{ 
        //border-bottom: 1px solid #ccc; 
    }

    .pion{
        width:20px;
        height: 10px;
        border: 1px solid #ccc; 
        background-color: #e42000;
    }
 
}
