<ion-header> 
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Setting</ion-title>
  </ion-navbar> 
</ion-header> 
<ion-content padding>
    <form (ngSubmit)="startGame()">
        <ion-item>
            <ion-label color="primary">Number of players</ion-label>
            <ion-select [(ngModel)]="playersNumber" name="players_number" (ionChange)="generatePlayers($event)">
              <ion-option value="{{nombre}}" *ngFor="let nombre of nombres" required >{{nombre}}</ion-option> 
            </ion-select>
        </ion-item> 
        <ion-row  *ngFor="let player of players; let i = index"> 
            <ion-col col-6>
                <ion-item>
                    <ion-label color="primary">Player {{player.id}}</ion-label>
                    <ion-input type = "text" [(ngModel)]="player.name" name="playername{{i+1}}" required></ion-input> 
                </ion-item>  
            </ion-col>  
            <ion-col col-6>
                <ion-item> 
                    <ion-label color="primary">Color</ion-label> 
                    <ion-select [(ngModel)]="player.color" name="playercolor{{i+1}}" required>
                        <ion-option value="{{color.id}}" *ngFor="let color of colors" >{{color.value}}</ion-option> 
                    </ion-select>
                </ion-item>    
            </ion-col>
        </ion-row > 
        <br>
        <button ion-button type="submit" block>Enregistrer</button>
    </form>
</ion-content>
  